.App {
  text-align: center;
}
.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
}
.nav-ul li a {
  color: black;
  padding: 5px;
  text-decoration: none;
}
.nav-ul li a:hover {
  color: white;
}

.nav-ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
  height: 50px;
}

.input {
  margin-left: 30%;
}

.inputBox {
  display: block;
  width: 300px;
  margin: 25px;
  padding: 7px;
  border: 1px solid burlywood;
}
.submitButton {
  display: flex;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 100px;
  background-color: burlywood;
}
